.header {
  background-color: #eaeaea;
}
a.navbar-brand, a.nav-link {
  color: #007bff;
  font-size: 1.0em;
  text-decoration: underline;
}

input.form-control {
  border: 1px solid;
}

button.btn {
  box-shadow: 10px 10px;
  border: 1px solid;
}
