{% extends 'base.html' %}
{% block title %}Заявки{% endblock %}
{% block content %}
<a class="home_link" href="index.html">
  <i class="fa fa-home fa-4x ml-5 mt-2 mb-2" href="index.html" aria-hidden="true"></i>
</a>

<div class="container">
  <div class="col-10" style="width: 40%">
    <h2>Заявки</h2>
  </div>
  {% include 'applications.html' %}

  <div class="text-center mb-3 mt-4">
    <a href="apps_page.html">
      <button type="submit" class="app-button btn btn-outline-dark btn-circle">Показать ещё</button>
    </a>
  </div>

</div>

{% endblock %}