<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Поставщики Новосибирска</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../static/css/base.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body>
<header>
  <nav class="navbar navbar-expand-lg navbar header">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
            <span class="navbar-text">
              Регион:
          </span>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Новосибирск и область
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Москва</a>
            <a class="dropdown-item" href="#">Челябинск</a>
            <a class="dropdown-item" href="#">Уфа</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="navbar-brand" href="#">Леонид Фёдорович</a>
        </li>
        <li class="nav-item active">
          <a class="navbar-brand" href="#">выход</a>
        </li>
      </ul>
    </div>
  </nav>

</header>

{% block content %}{% endblock %}

<footer class="page-footer" style="background-color: #eaeaea;">
  <div class="text-center">
    <h3>Вы поставщик?</h3>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <p>Для доступа к телефонам покупателей заполните форму или позвоните нам
          <span class="text-nowrap">+7 999 888-77-66</span>
        </p>
        <p>Текст с дополнительной информацией по условиям сотрудничества.<br>
          Возможно, стоит вынести его на отдельную страницу.<br> Текст с дополнительной информацией по условиям
          сотрудничества.<br>
          Возможно, стоит вынести его на отдельную страницу.</p>
      </div>
      <div class="col">
        <form action="#">
          <div class="form-group row">
            <label class="col-12 col-sm-3 col-form-label text-sm-right" for="org">Организация</label>
            <div class="col-12 col-sm-9 ml-auto">
              <input type="email" class="form-control" id="org">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-12 col-sm-3 col-form-label text-sm-right" for="tel">Телефон</label>
            <div class="col-12 col-sm-9 ml-auto">
              <input type="email" class="form-control" id="tel">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-12 col-sm-3 col-form-label text-sm-right" for="email">Email</label>
            <div class="col-12 col-sm-9 ml-auto">
              <input type="email" class="form-control" id="email">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-12 col-sm-3 col-form-label text-sm-right" for="name">Имя</label>
            <div class="col-12 col-sm-9 ml-auto">
              <input type="email" class="form-control" id="name">
            </div>
          </div>
          <div class="form-group row ml-auto">
            <div class="col-sm-10" style="margin-left: 23%;">
              <button type="submit" class="btn btn-light btn-sm small-button">Отправить информацию</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</footer>
</body>

</html>