{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row align-items-center">
    <div class="col-sm-3 col-md-offset-1">
        <span>
           Участники в Новосибирске:
        </span>
    </div>
    <div class="col-sm-3 col-md-offset-1">
      <a class="members-link" href="#">105 оптовых компаний</a>
    </div>
    <div class="col-sm-3 col-md-offset-1">
      <a class="members-link" href="#">25 производителей</a>
    </div>
  </div>
  <div class="col-10 ml-auto mr-auto text-center mt-5" style="width: 40%">
    <h2>Вам позвонят лучшие поставщики Новосибирска</h2>
  </div>
</div>
{% endblock %}